.prettierignore
yarn.lock
dist/
out/
.turbo/
node_modules/
exports/
artifacts*/
*cache/
lib/
**/deployments/
.husky/
.aptos/
.yarn/
.vscode/
.pnp.cjs
.pnp.loader.mjs
build/
packages/layerzero-v1/evm/0.7/utils/data/proof/**/*.json
lcov.info
coverage-html/
**/generated/
**/chaintypes/
**/typechain-types/
**/idl/

**/connection/*.json
