.prettierignore
yarn.lock
dist/
out/
.turbo/
node_modules/
exports/
artifacts*/
*cache/
lib/
**/deployments/
.husky/
.aptos/
.yarn/
.vscode/
.pnp.cjs
.pnp.loader.mjs
build/
coverage-html/
**/generated/
**/chaintypes/
**/typechain-types/
**/idl/
